<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory name="CP">
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">server=qds162579512.my3w.com;uid=qds162579512;pwd=SDZhuoDeSys;database=qds162579512_db;</property>
    <property name="adonet.batch_size">10</property>
    <property name="show_sql">true</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="command_timeout">30</property>
    <property name="query.substitutions">true 1, false 0, yes &apos;Y&apos;, no &apos;N&apos;</property>
    <property name="cache.use_second_level_cache">false</property>
    <property name="cache.use_query_cache">false</property>
    <!--HBM Mapping Files-->
    <mapping assembly="ZD.Service.DAL" />
  </session-factory>
</hibernate-configuration>